@mixin flexrow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@mixin btnHover{
    background: $nav-trial;
    color: white;
    font-weight: bold;
    opacity: 0.9;
    border-radius: 6px;
    box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.79);
    -webkit-box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.79);
    -moz-box-shadow: 0px 4px 12px -5px rgba(0,0,0,0.79);
}