//COLORS
$color-bg-section1: rgb(251,247,237);
$color-bg-section2: rgb(0, 76, 63) ;
$nav-trial: rgb(0,117,89);
$nav-trial2: rgba(0,117,89, 1);
$nav-list-color: rgb(33,35,38);
$color-white: #fff;
$color-black: #000000;
$color-section4C: rgb(0,46,37);
$color-section5: rgb(251,247,237);
$color-white-faded:rgba(210,213,217,0.1);

//REM VAR
$section2-leftpad: calc(7.5% + 15px);

//FLOAT-GRIDS
$grid-width: 114rem;
$gutter-horizontal: 1rem;
$gutter-vertical: 8rem;