@import '../../sass/abstracts/base';
@import '../../sass/abstracts/mixins';
@import '../../sass/abstracts/variables';

.shopify{
    position: relative;
    background: $color-bg-section1;
    z-index: 1;
    
}
.section{
    display: flex;
    flex-direction: row;
    width: 100vw !important;
    font-family: 'Lora', serif;

    &__div1{

        height: 542px;
        flex: 7;
        position: relative;
        font-family: 'Lora', serif;

        &-emailForm{
            width: 80%;
            height: 300px;
            // position: absolute;
            margin-top: 23%;
            margin-left: 6.6%;
            padding: 10px;
        }
        &-text{
            font-size: 4.3rem;
            font-weight: bolder;
            width: 70.9%;
            text-align: start;
            padding: 0;
            color: $color-bg-section2;

            @media screen and (max-width: 1080px) and (min-width: 900px) {
                &{
                    font-size: 3.5rem;
                }
            }
            @media screen and (max-width: 500px) {
                &{
                    font-size: 3.1rem;
                }
            }

        }
        &-pText{
            font-size: 1.3rem;
            margin-top: 15px;
            
        }
        &-form{
            margin-top: 15px;

            & > input{
                width: 72.0%;
                height: 51px;
                padding:3px 10px ;
                font-size: 1.6rem;
                border: 1px solid $nav-trial;
                border-radius: 6px;
                margin-right: 7px;

                &:active, &:focus{
                    outline: none;
                    border: 2.5px solid $nav-trial2;
                }
            }
            & > button{
                @include btnHover;
                width: 164px;
                height: 51px;
                border-style:none;
                outline: none;
                font-size: 1.6rem;
                font-weight: bold;
                margin-top: 10px;
            }
            @media screen and (max-width: 800px) and (min-width: 700px){
                &{
                  
                    & > input{
                        font-size: 1.5rem;
                    }
                    & >button{
                        margin-top: 15px;
                    }
                }
            }
            @media screen and (max-width: 500px) and (min-width: 350px){
                &{
                    display: flex;
                    flex-direction: column;

                    & > input{
                        font-size: 1.4rem;
                    }
                    & >button{
                        width: 72.0%;
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    &__div2{
        height: 692px;
        width: 100%;
        flex: 5;
        background-image: url("../../img/nat-9.jpg");
        background-size: cover;
        background-position: top;
        position: relative;

        &-playVideo{
            position: absolute;
            display: flex;
            bottom: 7%;
            right: 7%;            
            font-size: 1.8rem;

            &:hover{
                cursor:pointer;
            }
        }
        &-icon{
            width: 30px;
            height: 30px;
            border-radius: 3px;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-spanText{
            color: white;
            margin-left: 7px;
            font-weight: 600;
        }
        
    }

    @media screen and (max-width: 1080px) {
        &{
            flex-direction: column;
            height: 1200px;           
        }
    }
    
}

.section2{
    background: $color-bg-section2;
    color: #fff;
}
