* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: translateY(-1.5rem);
            transform: translateY(-1.5rem);
  }
  80% {
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveRight {
  0% {
    -webkit-transform: translateX(1.5rem);
            transform: translateX(1.5rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.row {
  max-width: 114rem;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 1rem;
}

.row .col-1-of-2 {
  width: calc((100% - 1rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 1rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 1rem) / 3) + 1rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 1rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 1rem) / 4) + 1rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 1rem) / 4) + 2 * 1rem);
}

.anc:link,
.anc:visited {
  text-decoration: none !important;
  font-size: 1.8rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  color: #007559;
  font-weight: 600;
}

.anc:hover > .arr {
  -webkit-transform: rotate(90deg), translateX(10px);
          transform: rotate(90deg), translateX(10px);
}

.chiAnc:link,
.chiAnc:visited {
  text-decoration: none !important;
  font-size: 1.8rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  font-size: 2.0rem;
  font-weight: 400;
  color: white;
  display: inline-block;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .chiAnc:link,
  .chiAnc:visited {
    font-size: 1.6rem;
  }
}

.section6anc:link,
.section6anc:visited {
  text-decoration: none !important;
  font-size: 1.8rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.freeBtn {
  background-color: #007559;
  color: white !important;
  padding: 1.3rem 2rem;
  border-radius: 5px;
}

.freeBtn:hover {
  cursor: pointer;
  background-color: #007559;
  text-decoration: none !important;
}

.backTop {
  font-size: 2.9rem;
  font-weight: 600;
  color: #007559 !important;
}

.backTop:hover {
  cursor: pointer;
}

.shopify {
  position: relative;
  background: #fbf7ed;
  z-index: 1;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw !important;
  font-family: 'Lora', serif;
}

.section__div1 {
  height: 54.2rem;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  position: relative;
  font-family: 'Lora', serif;
}

.section__div1-emailForm {
  width: 80%;
  height: 30.0rem;
  margin-top: 23%;
  margin-left: 6.6%;
  padding: 10px;
}

.section__div1-text {
  font-size: 4.3rem;
  font-weight: bolder;
  width: 70.9%;
  text-align: start;
  padding: 0;
  color: #004c3f;
}

@media screen and (max-width: 1080px) and (min-width: 900px) {
  .section__div1-text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .section__div1-text {
    font-size: 3.1rem;
  }
}

.section__div1-pText {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.section__div1-form {
  margin-top: 1.5rem;
}

.section__div1-form > input {
  width: 72.0%;
  height: 5.1rem;
  padding: 3px 10px;
  font-size: 1.6rem;
  border: 1px solid #007559;
  border-radius: 6px;
  margin-right: 7px;
}

.section__div1-form > input:active, .section__div1-form > input:focus {
  outline: none;
  border: 2.5px solid #007559;
}

.section__div1-form > button {
  background: #007559;
  color: white;
  font-weight: bold;
  opacity: 0.9;
  border-radius: 6px;
  box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.79);
  -webkit-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.79);
  -moz-box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 0.79);
  width: 16.4rem;
  height: 5.1rem;
  border-style: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .section__div1-form > input {
    font-size: 1.5rem;
  }
  .section__div1-form > button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) and (min-width: 350px) {
  .section__div1-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__div1-form > input {
    font-size: 1.4rem;
  }
  .section__div1-form > button {
    width: 72.0%;
    margin-top: 15px;
  }
}

.section__div2 {
  height: 692px;
  width: 100%;
  background-size: cover;
  background-position: top;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-image: url("../../img/nat-9.jpg");
  position: relative;
}

.section__div2-playVideo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 7%;
  right: 7%;
  font-size: 1.8rem;
}

.section__div2-playVideo:hover {
  cursor: pointer;
}

.section__div2-icon {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__div2-spanText {
  color: white;
  margin-left: 7px;
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1200px;
  }
}

.section2 {
  background: #004c3f;
  color: #fff;
  padding: 7% 5% 7% calc(7.5% + 15px);
  font-family: 'Lora', serif;
  line-height: 1.8rem;
  overflow-x: hidden;
}

.section2__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  margin-top: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0;
}

.section2__ul-listItem > img {
  width: calc(16.25% * 100vw);
  height: calc(calc(394px / 100vh) * 100%);
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2__ul-listItem > img {
    width: 45vw;
    height: 65vh;
    border-radius: 7px;
    box-shadow: 1px 6px 9px -2px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 6px 9px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 6px 9px -2px rgba(0, 0, 0, 0.75);
  }
}

.section2__ul-listItemP1 {
  margin-top: 15px;
  font-size: 1.4rem;
}

.section2__ul-listItemP1 > a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}

.section2__ul-listItemP1 > a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) and (min-width: 500px) {
  .section2__ul-listItemP1 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 300px) {
  .section2__ul-listItemP1 {
    font-size: 1.0rem;
  }
}

.section2__ul-listItemP2 {
  font-size: 1.7rem;
  font-weight: 400;
  text-transform: capitalize;
}

.section2__ul-listItemP2:hover {
  cursor: pointer;
}

@media screen and (max-width: 1080px) and (min-width: 500px) {
  .section2__ul-listItemP2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 499px) and (min-width: 300px) {
  .section2__ul-listItemP2 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section2__div-h1Text {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 4.5rem;
}

@media screen and (max-width: 768px) and (min-width: 500px) {
  .section2__div-h1Text {
    font-size: 3.9rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2__div-h1Text {
    font-size: 2.9rem;
  }
}

.section2__div-pText {
  font-size: 1.6rem;
  margin-top: 17px;
}

.section2__div-pExample {
  font-size: 1.5rem;
  margin-top: 17px;
  font-weight: 600;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.section2__div-pExample-icon {
  margin-left: 6px;
}

.section2__div-pExample-icon:hover {
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.section2__div-pExample:hover {
  cursor: pointer;
}

.section2__h2-heading {
  margin: 3rem 0;
  font-weight: 400;
}

.section2 .margBot {
  margin-left: .5%;
  margin-right: .5%;
}

.section2 .margBotLeft {
  margin-left: .5%;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2 .margBotLeft {
    margin-top: 10px;
  }
}

.section2 .margBotRight {
  margin-right: .5%;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2 .margBotRight {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section2 .margBot {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

.section3 {
  background: #fff;
  padding: 10rem 0;
}

.section3__header-text {
  width: 45%;
  text-align: center;
  font-family: 'Cabin', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}

@media screen and (max-width: 70rem) {
  .section3__header-text {
    width: 80%;
  }
}

.section3-h1 {
  font-size: 3.9rem;
  font-weight: 400;
  padding: 0 1.5rem;
}

@media screen and (max-width: 70rem) {
  .section3-h1 {
    font-style: 3.0rem;
  }
}

.section3__header-p {
  font-size: 2.0rem;
  font-weight: 400;
  line-height: 2rem;
  opacity: .8;
  text-align: center;
  margin-top: 1.6rem;
}

.section3__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 10.7rem;
  margin-right: 10.7rem;
}

@media screen and (max-width: 70rem) {
  .section3__wrapper {
    margin: 0;
    padding: 0 1rem 0 3.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.section3__wrapper-webm {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.section3__wrapper-webm .video__toggle {
  width: 100%;
}

.section3__wrapper-seller {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  margin-left: 5rem;
  width: 60%;
}

@media screen and (max-width: 70rem) {
  .section3__wrapper-seller {
    margin-left: 2rem;
    margin-bottom: 2rem;
  }
}

.section3__wrapper-seller .section-boxInfo {
  width: 75%;
  margin-top: 7rem;
}

@media screen and (max-width: 70rem) {
  .section3__wrapper-seller .section-boxInfo {
    margin-top: 1rem;
    width: 100%;
  }
}

.section3__wrapper-seller .section-boxInfo--h2 {
  font-size: 2.8rem;
  font-weight: 400;
}

.section3__wrapper-seller .section-boxInfo .sellerText {
  font-size: 1.5rem;
  text-align: left;
}

@media screen and (max-width: 70rem) {
  .section3__wrapper-seller .section-boxInfo .sellerText {
    font-size: 1.3rem;
  }
}

.section3-emp {
  padding: 10rem 10.5rem;
}

@media screen and (max-width: 600px) {
  .section3-emp {
    padding: 4rem 4.5rem;
  }
}

.section3-emp1 {
  font-size: 2.8rem;
  font-weight: 400;
  width: 45%;
  padding-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  .section3-emp1 {
    font-size: 2rem;
    padding-bottom: 2.5rem;
  }
}

.section3-emp2 {
  font-size: 2.5rem;
  width: 65%;
  padding-bottom: 2rem;
}

@media screen and (max-width: 600px) {
  .section3-emp2 {
    font-size: 1.7rem;
  }
}

.section4 {
  padding: 0 5%;
  background-color: #fff;
}

.section4-imgContainer {
  width: 90%;
}

.section4-imgContainer .cobeImg {
  width: 100%;
}

.section4__ceeC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 10rem;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section4__ceeC {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
  }
}

.section4__ceeC-btn {
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  margin-top: 4rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section4__ceeC-btn:hover {
  cursor: pointer;
}

.section4__ceeC-chi {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

.section4__ceeC-chi .chiImg {
  max-width: 100%;
  height: 62.8rem;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section4__ceeC-chi .chiImg {
    width: 100%;
    height: 30rem;
  }
}

.section4__ceeC-chiText {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: #002e25;
  color: white;
  font-family: 'Lora', serif;
  font-weight: 600;
  padding: 5% 5% 0 5%;
}

.section4__ceeC-chiText .section4-chiStory {
  width: 95%;
}

.section4__ceeC-chiText .section4-chiStory-P {
  font-size: 2.6rem;
  text-align: center;
  font-weight: 600;
  width: 65%;
  margin: 0 auto;
}

@media screen and (max-width: 102.4rem) and (min-width: 80rem) {
  .section4__ceeC-chiText .section4-chiStory-P {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section4__ceeC-chiText .section4-chiStory-P {
    font-size: 1.8rem;
  }
}

.section4__ceeC-chiText .section4-chiStory .cee-ImgCont {
  margin-top: 7rem;
  margin-bottom: 4.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 14.6rem;
  height: 6.9rem;
}

@media screen and (max-width: 1024px) and (min-width: 800px) {
  .section4__ceeC-chiText .section4-chiStory .cee-ImgCont {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section4__ceeC-chiText .section4-chiStory .cee-ImgCont {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.section4__ceeC-chiText .section4-chiStory .cee-ImgCont .ceeWebp {
  margin: 0 auto;
  color: #fff;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section4__ceeC-chiText .section4-chiStory .ceeTagname {
  font-size: 2.0rem;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

@media screen and (max-width: 800px) and (min-width: 300px) {
  .section4__ceeC-chiText .section4-chiStory .ceeTagname {
    font-size: 1.7rem;
  }
}

.section5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 950px) and (min-width: 300px) {
  .section5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.section5__part1 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  background-color: #fbf7ed;
  padding-top: 9.6rem;
}

.section5__part1-h2 {
  font-size: 3.4rem;
  width: 75%;
}

.section5__part1-sub {
  padding-top: 3rem;
  padding-left: 0;
}

.section5__part1-h3 {
  font-size: 1.9rem;
}

.section5__part1-p {
  font-size: 1.6rem;
  width: 95%;
  padding-top: 1rem;
}

.section5__part1-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section5__part2 {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  height: auto;
  width: 100%;
}

.section5__part2-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section5__part1-container {
  padding-left: 4rem;
}

.section6 {
  background-color: #fff;
  padding-top: 7rem;
  position: relative;
  width: 100%;
  height: 60vh;
}

.section6__tag {
  width: 60%;
  margin: 0rem auto;
}

.section6__tag-h1 {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 400;
}

.section6__tag-p {
  text-align: center;
  font-size: 2.2rem;
  padding-top: 1.3rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

.section6__atag {
  margin: 2rem;
  text-align: center;
}

.section6__up {
  position: absolute;
  right: 6rem;
  bottom: 1rem;
}

.section6__up:hover .upArr {
  display: inline-block;
  -webkit-animation: moveUp .6s ease-out;
          animation: moveUp .6s ease-out;
}

.flexImage {
  width: 90%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.box--shadow {
  box-shadow: 2px 6px 72px -27px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 72px -27px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 72px -27px rgba(0, 0, 0, 0.75);
}

.imglogoList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fff;
}

.imglogoListItem {
  padding: 3rem 0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.containterCommon {
  width: 45%;
  padding-bottom: 1.5rem;
}
/*# sourceMappingURL=shopify.css.map */