* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.shopify {
  position: relative;
  background: #fbf7ed;
  z-index: 1;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100vw !important;
  font-family: 'Lora', serif;
}

.section__div1 {
  height: 542px;
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  position: relative;
  font-family: 'Lora', serif;
}

.section__div1-emailForm {
  width: 80%;
  height: 300px;
  margin-top: 23%;
  margin-left: 6.6%;
  padding: 10px;
}

.section__div1-text {
  font-size: 4.3rem;
  font-weight: bolder;
  width: 70.9%;
  text-align: start;
  padding: 0;
  color: #004c3f;
}

@media screen and (max-width: 1080px) and (min-width: 900px) {
  .section__div1-text {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 500px) {
  .section__div1-text {
    font-size: 3.1rem;
  }
}

.section__div1-pText {
  font-size: 1.3rem;
  margin-top: 15px;
}

.section__div1-form {
  margin-top: 15px;
}

.section__div1-form > input {
  width: 72.0%;
  height: 51px;
  padding: 3px 10px;
  font-size: 1.6rem;
  border: 1px solid #007559;
  border-radius: 6px;
  margin-right: 7px;
}

.section__div1-form > input:active, .section__div1-form > input:focus {
  outline: none;
  border: 2.5px solid rgba(0, 117, 89, 0.3);
}

.section__div1-form > button {
  background: #007559;
  color: white;
  font-weight: bold;
  opacity: 0.9;
  border-radius: 6px;
  width: 164px;
  height: 51px;
  border-style: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
  margin-top: 10px;
}

@media screen and (max-width: 800px) and (min-width: 700px) {
  .section__div1-form > input {
    font-size: 1.5rem;
  }
  .section__div1-form > button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 500px) and (min-width: 350px) {
  .section__div1-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section__div1-form > input {
    font-size: 1.4rem;
  }
  .section__div1-form > button {
    width: 72.0%;
    margin-top: 15px;
  }
}

.section__div2 {
  height: 692px;
  width: 100%;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  background-image: url("../../img/nat-9.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}

.section__div2-playVideo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 7%;
  right: 7%;
  font-size: 1.8rem;
}

.section__div2-playVideo:hover {
  cursor: pointer;
}

.section__div2-icon {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__div2-spanText {
  color: white;
  margin-left: 7px;
  font-weight: 600;
}

@media screen and (max-width: 1080px) {
  .section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1200px;
  }
}
/*# sourceMappingURL=shopify.css.map */