
.anc:link,
.anc:visited{
    @include button;    
    color: $nav-trial;
    font-weight: 600;

}

.anc:hover{  

    & > .arr{
        transform: rotate(90deg), translateX(10px);
    }
}

.chiAnc:link,
.chiAnc:visited{
    @include button;
    font-size: 2.0rem;
    font-weight: 400;
    color: white;
    display: inline-block;

    @media screen and (max-width: 800px) and (min-width: 300px) {
        &{
            font-size: 1.6rem;
            
        }
    }
    
}
