
.anc:link,
.anc:visited{
    @include button;    
    color: $nav-trial;
    font-weight: 600;

}

.anc:hover{  

    & > .arr{
        transform: rotate(90deg), translateX(10px);
    }
}

.chiAnc:link,
.chiAnc:visited{
    @include button;
    font-size: 2.0rem;
    font-weight: 400;
    color: white;
    display: inline-block;

    @media screen and (max-width: 800px) and (min-width: 300px) {
        &{
            font-size: 1.6rem;
            
        }
    }
    
}

.section6anc:link,
.section6anc:visited{
    @include button;
    
}
.freeBtn{
    background-color: $nav-trial;
    color: white !important;
    padding: 1.3rem 2rem;
    border-radius: 5px;

    &:hover{
        cursor: pointer;
        background-color: $nav-trial2;
        text-decoration: none !important;
    }
}
.backTop{
    font-size: 2.9rem;
    font-weight: 600;
    color: $nav-trial !important;

    &:hover{
        cursor: pointer;
        
    }
}
